footer {
    background-color: #000000; /* Couleur de fond */
    height: 5vh;           /* Hauteur du footer */
    width: 100vw;            /* Occupe toute la largeur */
    display: flex;
    color: #ffffff;            /* Couleur du texte */
    margin-bottom: auto;
}