.basicPage {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #FFD6E5, #FFFFFF);
    width: 100vw;
    min-height: 100vh;
    width: 100vw;
    justify-content: space-between;
}

.containerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: fit-content; /* Au lieu de 50vh */
    height: auto;
    min-width: fit-content;
    width: 20vw;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    max-width: 500px;
    padding: 2rem;
    margin: 1rem 2rem
}

.pageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
    gap: 2rem;
    padding: 2rem;
    overflow-y: auto;
}
