:root {
    --text-color: #424242;
    --background-color: #ffffff;
    --primary-color: #fe3c72;
    --secondary-color: #fd5564;
    --accent-color: #ef4a75;
    --background-transparent: #ffffffda;

}